.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.appList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style-type: none;
    justify-content: center;
}

.appList li {
    max-width: 420px;
    box-sizing: border-box;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    border-radius: 8px;
    padding: 11px;
    border: 1px solid #e0e0e0;
}